<?xml version="1.0"?>

<launch>
    <!-- MAP SERVER node: locate map and send out map data for localization  -->
    <arg name="map_file" default="$(find my_robot)/maps/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- Adaptive Monte Carlos Localization (AMCL) node: Subscribe to topics for localization  -->
    <node name="amcl" pkg="amcl" type="amcl" output="screen">
        <remap from="scan" to="/scan"/>
        <param name="base_frame_id" value="robot_footprint"/>
        <param name="global_frame_id" value="map"/>

        <!-- If you choose to define initial pose here -->
        <param name="initial_pose_x" value="-3.904"/>
        <param name="initial_pose_y" value="-2.025"/>
        <param name="initial_pose_a" value="1.59"/>

        <!-- Limits on particles used in AMCL -->
        <param name="min_particles" value="50"/>
        <param name="max_particles" value="1000"/>

        <!-- AMCL Update Rate (d = translational, a = rotational) -->
        <param name="update_min_d" value="0.1"/>
        <param name="update_min_a" value="0.263"/>

        <!-- Laser settings -->
        <param name="laser_min_range" value="-1.0"/>
        <param name="laser_max_range" value="-1.0"/>
        <param name="laser_min_beams" value="30"/>
        <param name="laser_z_hit" value="0.95"/>
        <param name="laser_z_rand" value="0.05"/>
        <param name="laser_model_type" value="likelihood_field"/>

        <!-- Odometry Settings - alpha = noise error (Assume small since simulation = minmal odometry error) -->
        <param name="odom_frame_id" value="odom"/>
        <param name="odom_model_type" value="diff-corrected"/>
        <param name="odom_alpha1" value="0.001"/>
		<param name="odom_alpha2" value="0.001"/>
		<param name="odom_alpha3" value="0.001"/>
		<param name="odom_alpha4" value="0.001"/>
        
    </node>

    <!-- MOVE BASE node: Specify goal position on map for bot to navigate to. Includes path planning module. -->
    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <remap from="scan" to="/scan"/>
        <param name="base_global_planner" value="navfn/NavfnROS" />
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

        <!-- Load Config files -->
        <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find my_robot)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find my_robot)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find my_robot)/config/base_local_planner_params.yaml" command="load" />
    </node>



</launch>
